{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.

{deps, [lager,
        acceptor_pool,
        {shackle, {git, "https://github.com/lpgauth/shackle.git", {branch, "master"}}}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{shell, [{apps, [teleport]}]}.
