{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.

{deps, [lager,
        acceptor_pool,
        {sbroker, "0.7.0"}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.

{shell, [{apps, [teleport]}]}.
